{
  "name": "mingleurn",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "public/vender/assets/scss/allCss.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "public/vender/assets/scss/plugin/object/_iosSwitch.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "public/vender/assets/scss/plugin/object/_chImgLightBox.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "source/views/tw/content/checkout_success.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/checkout_success.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/assets/sass/shopping/checkout_result.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/checkout_result.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "source/views/tw/content/checkout_finish.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/checkout_finish.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/checkout_amount.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/checkout_amount.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/checkout.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/checkout.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/assets/sass/shopping/checkout_amount.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/checkout_amount.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "source/views/tw/content/checkout_confirm.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/checkout_confirm.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/assets/sass/shopping/checkout_confirm.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/checkout_confirm.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "source/views/tw/content/about.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/about.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/about_fabric.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/about_fabric.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/about_feature.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/about_feature.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/about_history.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/about_history.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/about_location.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/about_location.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/checkout_fail.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/checkout_fail.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/contact.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/contact.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/customized.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/customized.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/gdpr.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/gdpr.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/index_inspire.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/index_inspire.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/login.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/login.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/member.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/member.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/news.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/news.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/orderlist.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/orderlist.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/product.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/product.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/product_detail.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/product_detail.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/product_list.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/product_list.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/product_search.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/product_search.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/qa.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/qa.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/search_result.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/search_result.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/views/tw/content/checkout_table.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/views/tw/content/checkout_table.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "source/assets/js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/assets/js/main-dist.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "source/assets/sass/shopping/checkout_table.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/checkout_table.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "public",
      "public/vender/assets",
      "public/vender",
      "public/vender/assets/scss",
      "public/vender/assets/scss/plugin",
      "source",
      "source/views",
      "source/views/tw",
      "source/assets",
      "source/views/tw/content",
      "source/assets/js",
      "source/assets/sass",
      "source/assets/sass/shopping"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "source/assets/js/plugins.js",
      "imports": [
        "dist/assets/js/plugins/jquery/jquery-3.4.1.min.js",
        "dist/assets/js/plugins/jquery-easing/jquery.easing.1.3.js",
        "dist/assets/js/plugins/jquery-easing/jq.easing.parabola.js",
        "dist/assets/js/plugins/parabola/parabola.min.js",
        "dist/assets/js/plugins/jquery-easy/jquery-easy.js",
        "dist/assets/js/plugins/jquery-inview/jquery.inview.js",
        "dist/assets/js/plugins/jquery-keyframes/jquery.keyframes.min.js",
        "dist/assets/js/plugins/cgpagechange/cgpagechange.js",
        "dist/assets/js/plugins/blazy/blazy.min.js",
        "dist/assets/js/plugins/swiper-5.3.7/js/swiper.min.js",
        "dist/assets/js/plugins/jquery-scrollbar/js/jquery.scrollbar.min.js",
        "dist/assets/js/plugins/moment/moment.min.js",
        "dist/assets/js/plugins/image-zoom/jquery.zoom.min.js"
      ]
    },
    {
      "path": "source/assets/sass/style.sass",
      "imports": [
        "source/assets/sass/base/_reset.sass",
        "source/assets/sass/base/_font.sass",
        "source/assets/sass/base/_variable.sass",
        "source/assets/sass/base/_mixin.sass",
        "source/assets/sass/base/_common.sass",
        "source/assets/sass/article/_article_variables.scss",
        "source/assets/sass/article/_article_mixins.scss",
        "source/assets/sass/article/_article_placeholders.scss",
        "source/assets/sass/article/_article.scss",
        "source/assets/sass/layouts/_navbar.sass",
        "source/assets/sass/layouts/_footer.sass",
        "source/assets/sass/home/_index.sass",
        "source/assets/sass/home/_index_inspire.sass"
      ]
    },
    {
      "path": "dist/assets/js/vendor/vendor.js",
      "imports": [
        "dist/assets/js/vendor/jquery-3.4.1.min.js",
        "dist/assets/js/vendor/jquery-easy.js",
        "dist/assets/js/vendor/cgpagechange.js",
        "dist/assets/js/vendor/blazy/blazy.min.js",
        "dist/assets/js/vendor/swiper-4.5.0/js/swiper.min.js",
        "dist/assets/js/vendor/waypoint/jquery.waypoints.min.js",
        "dist/assets/js/vendor/jquery-scrollbar/js/jquery.scrollbar.min.js",
        "dist/assets/js/vendor/aos/js/aos.js"
      ]
    },
    {
      "path": "source/assets/sass/about/about.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/about/about_fabric.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/about/about_feature.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/about/about_history.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/about/about_location.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/common/style.sass",
      "imports": [
        "source/assets/sass/common/base/_reset.sass",
        "source/assets/sass/common/base/_font.sass",
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/base/_common.sass",
        "source/assets/sass/common/article/_article_variables.scss",
        "source/assets/sass/common/article/_article_mixins.scss",
        "source/assets/sass/common/article/_article_placeholders.scss",
        "source/assets/sass/common/article/_article.scss",
        "source/assets/sass/common/video/_video4.scss",
        "source/assets/sass/common/layouts/_fixed-left.sass",
        "source/assets/sass/common/layouts/_shopping-cart.sass",
        "source/assets/sass/common/layouts/_navbar.sass",
        "source/assets/sass/common/layouts/_footer.sass",
        "source/assets/sass/common/ajax/_ajax_index_inspire.sass",
        "source/assets/sass/common/ajax/_ajax_news_detail.sass",
        "source/assets/sass/common/ajax/_ajax_edit_collect.sass",
        "source/assets/sass/common/ajax/_ajax_custom_guide.sass",
        "source/assets/sass/common/ajax/_ajax_privacy_policy.sass",
        "source/assets/sass/common/ajax/_ajax_remind_lbox.sass",
        "source/assets/sass/common/ajax/_ajax_mode_explain.sass",
        "source/assets/sass/common/ajax/_ajax_member_remind_login.sass",
        "source/assets/sass/common/ajax/_ajax_member_remind_register.sass",
        "source/assets/sass/common/ajax/_ajax_checkout_tips.sass"
      ]
    },
    {
      "path": "source/assets/sass/contact/contact.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass"
      ]
    },
    {
      "path": "source/assets/sass/customized/customized.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass",
        "source/assets/sass/common/ajax/_ajax_leave_check.sass",
        "source/assets/sass/common/ajax/_ajax_customized_submit.sass",
        "source/assets/sass/common/ajax/_ajax_tool_guide.sass",
        "source/assets/sass/common/ajax/_ajax_customized_preview.sass"
      ]
    },
    {
      "path": "source/assets/sass/home/index.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/member/gdpr.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass"
      ]
    },
    {
      "path": "source/assets/sass/member/login.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass",
        "source/assets/sass/common/ajax/_ajax_member_joinus.sass",
        "source/assets/sass/common/ajax/_ajax_member_register.sass",
        "source/assets/sass/common/ajax/_ajax_member_rights_statement.sass",
        "source/assets/sass/common/ajax/_ajax_member_forgetps.sass"
      ]
    },
    {
      "path": "source/assets/sass/member/member.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass",
        "source/assets/sass/common/ajax/_ajax_change_photo.sass",
        "source/assets/sass/common/ajax/_ajax_change_photo_success.sass",
        "source/assets/sass/common/ajax/_ajax_member_regulation.sass",
        "source/assets/sass/common/ajax/_ajax_edit_profile.sass",
        "source/assets/sass/common/ajax/_ajax_change_phone.sass",
        "source/assets/sass/common/ajax/_ajax_change_password.sass",
        "source/assets/sass/common/ajax/_ajax_change_account.sass"
      ]
    },
    {
      "path": "source/assets/sass/member/orderlist.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass",
        "source/assets/sass/common/ajax/_ajax_cancel_order.sass"
      ]
    },
    {
      "path": "source/assets/sass/news/news.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/news/search_result.sass",
      "imports": [
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/product/product.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/product/product_list.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/product/product_search.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/shopping/checkout.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass"
      ]
    },
    {
      "path": "source/assets/sass/shopping/checkout_amount.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass"
      ]
    },
    {
      "path": "source/assets/sass/shopping/checkout_result.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/assets/sass/shopping/qa.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass"
      ]
    },
    {
      "path": "source/views/tw/content/about.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/about_fabric.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/about_feature.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/about_history.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/about_location.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/checkout.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/checkout_amount.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/checkout_fail.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/checkout_finish.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/checkout_success.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/contact.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/customized.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/gdpr.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/index.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/index_inspire.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_footer.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/login.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/member.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/news.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/orderlist.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/product.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/product_detail.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/product_list.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/product_search.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/qa.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/search_result.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/views/tw/content/checkout_confirm.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/assets/sass/shopping/checkout_confirm.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass"
      ]
    },
    {
      "path": "source/views/tw/content/checkout_table.pug",
      "imports": [
        "source/views/tw/layouts/_head.pug",
        "source/views/tw/layouts/_navbar.pug",
        "source/views/tw/layouts/_shopping-cart.pug",
        "source/views/tw/layouts/_fixed-left.pug",
        "source/views/tw/layouts/_quick-link.pug",
        "source/views/tw/layouts/_footer_bottom.pug",
        "source/views/tw/layouts/_script.pug"
      ]
    },
    {
      "path": "source/assets/sass/shopping/checkout_table.sass",
      "imports": [
        "source/assets/sass/common/base/_variable.sass",
        "source/assets/sass/common/base/_mixin.sass",
        "source/assets/sass/common/layouts/_form.sass"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}