.footer-bottom
  a.backTop(href="javascript:;")
    i.icon-top
  .company-info
    .block
      .area TAIPEI, TAIWAN
      ul.contact-info
        li
          span.key Tel
          span.value +886-2-29512727
        li
          span.key Fax
          span.value +886-2-29515988  
        li
          span.key Add
          span.value 9F, NO. 156, SEC.1, ZHONGSHAN RD.,<br>BANQIAO DIST., NEW TAIPEI CITY 22065
    .block
      ul.social-link
        li
          a(href="javascript:;")
            i.icon-ig
        li
          a(href="javascript:;")
            i.icon-fb
        li
          a(href="javascript:;")
            i.icon-twitter
        li
          a(href="javascript:;")
            i.icon-line
        li
          a(href="javascript:;")
            i.icon-wechat
        li
          a(href="javascript:;")
            i.icon-youtube
      .copyright COPYRIGHT © MINGLEURN ALL RIGHTS RESERVED.
    .block
      .area DONG GUAN, CHINA
      ul.contact-info
        li
          span.key Tel
          span.value +86-769-88326496  
        li
          span.key Fax
          span.value  +86-769-88326495
        li
          span.key Add
          span.value NO. 6, SHIN WEN 1ST. STREET,<br>SHIN WEN INDUSTRY ZONE,<br>DAO JIAO TOWN, DONG GUAN CITY, 523170