.quick-link
  ul.main-unit
    li
      a(href="./about.html") CLOSER TO MING
    li
      a(href="./news.html") MING TO TELL
    li
      a(href="./product.html") PICK MING UP
    li
      a(href="./contact.html") LET MING HELP
  ul.sub-unit
    li
      a(href="./qa.html") MING's service
    li
      a(href="./member.html") Member of MING
    li
      a(href="javascript:;") Recruit
    li
      a.ajax_open(href="javascript:;" data-ajax-route="./ajax_privacy_policy.html" data-ajax-container=".privacy-lbox" data-ajax-callback="_ajaxCallback.privacyPolicy") Privacy Policy