<!DOCTYPE html>
html(lang="en")
  head(itemscope='itemscope', itemtype='http://schema.org/WebSite')
    //共用設定
    include ../layouts/_head.pug
    //獨立CSS
  link(rel="stylesheet", href="../../../assets/css/checkout_amount.css")
  body.checkout_amount(data-page="checkout_amount")
    .main-wrapper.scrollbar-macosx(data-fake-body="")
      .all-wrapper
        .decor-layer
          .decor1
            img(src="../../../assets/img/about/decor01.png", alt="")
          .decor4
            img(src="../../../assets/img/about/decor04.png", alt="")
        // 導覽列
        include ../layouts/_navbar.pug
        // 購物車
        include ../layouts/_shopping-cart.pug
        // 固定左下功能
        include ../layouts/_fixed-left.pug

        // 主要內容
        main
          .header
            .unit-name(data-animate="fadeInUp" data-duration="0.4s" data-delay="0.4s") 副標題
            h1.unit-alias(data-animate="fadeInUp" data-duration="0.4s" data-delay="0.4s") 建立自訂付款連結
            p.section-description.innertext(data-animate="fadeInUp" data-duration="0.4s" data-delay="0.4s") 自訂付款描述

          .container
            //- (style="background-image: url('../../../uploads/shopping/checkout-form-success.jpg')")
            .content
              section.form
                .form-row
                  .form-grid
                    label.form-group.required
                      p 客戶名稱
                      input(type="text" placeholder="請輸入客戶名稱")
                .form-row
                  .form-grid
                    label.form-group.required
                      p 總金額
                      input.enter-amount(type="number" placeholder="請輸入總金額")
                .form-row
                  .form-grid
                    label.form-group.message
                      p 總金額備註
                      textarea.scrollbar-inner(placeholder="請輸入備註文字")
                .form-row
                  .form-grid
                    label.form-group
                      p 最小付款金額
                      input.enter-amount(type="number" placeholder="請輸入最小付款金額")
                .form-row
                  .form-grid
                    label.form-group.message
                      p 最小付款金額備註
                      textarea.scrollbar-inner(placeholder="請輸入備註文字")
                .form-row
                  .form-grid
                    label.form-group.message
                      p 自訂金額備註
                      textarea.scrollbar-inner(placeholder="請輸入備註文字")
                .form-row
                  .form-grid
                    label.form-group
                      p 付款期限 (天)
                      input(type="number" placeholder="請輸入天數")
              p.description 請重複確認明細
              .btn-group
                a.btn.btn-gold(href="javascript:;") 送出

        // 頁尾
        footer
          .footer-top
            .header Achieve Now
            include ../layouts/_quick-link.pug
          include ../layouts/_footer_bottom.pug

  //引入的script
  include ../layouts/_script.pug