<!DOCTYPE html>
html(lang="en")
  head(itemscope='itemscope', itemtype='http://schema.org/WebSite')
    //共用設定
    include ../layouts/_head.pug
    //獨立CSS
  link(rel="stylesheet", href="../../../assets/css/checkout_confirm.css")
  body.checkout_confirm(data-page="checkout_confirm")
    .main-wrapper.scrollbar-macosx(data-fake-body="")
      .all-wrapper
        // 導覽列
        include ../layouts/_navbar.pug
        // 購物車
        include ../layouts/_shopping-cart.pug
        // 固定左下功能
        include ../layouts/_fixed-left.pug

        // 主要內容
        main
          .header
            .unit-name(data-animate="fadeInUp" data-duration="0.4s" data-delay="0.4s") subtitle
            h1.unit-alias(data-animate="fadeInUp" data-duration="0.4s" data-delay="0.4s") Self-checkout
            p.section-description.innertext(data-animate="fadeInUp" data-duration="0.4s" data-delay="0.4s") Dear customer, welcome to use online Self-checkout service. Please confirm the payment information to completed payment, thank you!

          .container
            .content(style="background-image: url('../../../uploads/shopping/checkout-form-success.jpg')")
              section.form
                .form-row
                  .form-grid
                    label.form-group.required
                      p Serial Number
                      input(type="text" value="20010001" readonly)
                .form-row
                  .form-grid
                    label.form-group.required
                      p Name
                      input(type="text" value="ming wang" readonly)
                .form-row
                  .form-grid
                    label.form-group.required
                      p Customize Amount
                      // max 為總金額 min 為最低金額，若沒有設定則不輸出屬性
                      input.enter-amount(type="number" value="300" min="100" max="300")
              p.description Please confirm the payment information.
              .payment-group
                // 最低金額
                // 無設定最低金額則不輸出結構
                .min
                  .btn.btn-gold Minimum Amount
                  // 無備註則不輸出結構
                  .tip
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .hr
                // 全額付款
                .max
                  .btn.btn-gold Total Amount
                  // 無備註則不輸出結構
                  .tip
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              .btn-group
                a.btn.btn-black.qrcode(href="javascript:;") Create QRcode
                a.btn.btn-gold(href="javascript:;") Submit

          #qrcdoe
            .btn
              i
        // 頁尾
        footer
          .footer-top
            .header Achieve Now
            include ../layouts/_quick-link.pug
          include ../layouts/_footer_bottom.pug

  // 引入的script
  include ../layouts/_script.pug
  script(src="../../../assets/js/plugins/jquery-qrcode/jquery.qrcode.min.js")