@import ../common/base/_variable
@import ../common/base/_mixin
@import ../common/layouts/_form

.checkout_amount
  .all-wrapper
  main
    padding-bottom: 15.287%
    +rwdmax(767)
      padding-bottom: 37.333%
    .header
      text-align: center
      +rwdmax(767)
        padding: 0 20px
      .unit-name
        padding: 42px 0
        +fontSet($size: px(13))
        +rwdmax(767)
          padding: 10px 0
      .unit-alias
        +fontSetBold($font: $LBB, $size: px(54))
        +rwdmax(1024)
          font-size: px(48)
        +rwdmax(767)
          font-size: px(32)
      .section-description
        margin: 30px auto 0
        max-width: 585px
        width: 100%
    .container
      +maxWidth($maxw: 1320px)
      .content
        width: 100%
        padding: 55px 20px
        margin-top: 40px
        text-align: center
        border-radius: 10px
        +rwdmax(1023)
          background: none !important
        +rwdmax(575)
          margin-top: 0
        .form
          display: block
          +maxWidth($maxw: 500px, $margin: 0 auto 60px)
          .enter-amount
            font-size: px(22)
        .description
          +maxWidth($maxw: 525px, $margin: 0 auto 60px auto)
          +fontSet($size: px(13), $lh: 25px)
          +rwdmax(575)
            margin-bottom: 40px
        .btn-group
          +flex
          +rwdmax(575)
            flex-direction: column
          .btn
            width: 190px
            height: 50px
            border-radius: 10rem
            +fontSetBold($font: $LBB, $size: px(13), $lh: 50px, $color: white)
            &:not(:first-child)
              margin-left: 12px
              +rwdmax(575)
                margin-left: 0
                margin-top: 12px