.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .method-wrap
          p.method-title Welcome to mingleurn
          p.method-text Hello, enjoying it !
          .icon-member_start
          .method-message
            p.b Hi, MINGLEURN`s Freshman !
            p In order to serve you well, MINGLEURN website uses the membership system.
              br
              | After MINGLEURN Fairy approves your qualify with some simple registration steps, you can become our VIP member. Then, you can enjoy the latest design styles introduced by MINGLEURN every season, and buy products with favorable price.
            p.b Why register as the VIP member?
            p After registered, you can enjoy the service provided by MINGLEURN for members :
            ul
              li Entering the product area to view the latest product designs every season.
              li Geting exclusive Genie to make your fashion dream comes true.
              li Purchasing products at preferential prices.
              li Enjoying irregular discounts.
            p Don`t lose your chance to be one of our best friends.

          .modal-btn-group
            a.modal-btn.btn-black.ajax_close(href="javascript:;") No,thanks
            a.modal-btn.btn-gold.ajax_close(href="./login.html") Register