.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .remind-wrap
          .icon-backup
          p.remind-title Cancel Backup ?
          p.remind-text Sure to cancel backup account?<br>we will suspend your current actions.
          .modal-btn-group
            a.modal-btn.btn-gold.ajax_close(href="javascript:;") No
            a.modal-btn.btn-black.ajax_close(href="javascript:;" onclick="_gdpr.stepChange('backup', 1)") Yes