.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .modal-header
          .title Searching Guidelines
          .description Searching for <span>flower leaf</span>,<br>search results for different modes are as follows
        .modal-body
          .mode-wrap
            .mode
              .item
                .icon
                  img(src="../../../assets/img/union-of-selected.svg", alt="")
                .example
                  .grid
                    .box
                      img(src="../../../assets/img/product/example01.png", alt="")
                  .grid
                    .box
                      img(src="../../../assets/img/product/example02.png", alt="")
                  .grid
                    .box
                      img(src="../../../assets/img/product/example03.png", alt="")
            .mode
              .item
                .icon
                  img(src="../../../assets/img/intersection-selected.svg", alt="")
                .example
                  .grid
                    .box
                      img(src="../../../assets/img/product/example02.png", alt="")
        .modal-footer
          .modal-btn-group
            a.modal-btn.btn-black.ajax_close(href="javascript:;") Ok