.decor-layer
  .right-top
    img(src="../../../uploads/home/decor/inspire_leaf2.png", alt="")
  .left-top
    img(src="../../../uploads/home/decor/inspire_flower2.png", alt="")
  .left-bottom
    img(src="../../../uploads/home/decor/inspire_leaf.png", alt="")
.modal-scroll-wrap.scrollbar-macosx
  .modal-dialog
    .modal-content
      .modal-body
        .block.left
          .back.ajax_close
            i.icon-left
          h4.title.mobile CHENILLE ART
          .inspire-card
            .card-img(style="background-image: url('../../../uploads/home/explore01-1.jpg')")
            ul.card-hashtag
              li # Chenille
              li # Missing Deer
              li # Eastern Mysteries
        .block.right
          h4.title.desktop CHENILLE ART
          p.description.innertext 「Deer」is one of the signs that represent Luck in Eastern culture.
            br
            br
            |Mingleurn combined  our traditional culture with embroidery , using technique CHENILLE , makes our artwork more creative and vivid.
            br
            br
            |With our leading technique, Mingleurn will always satisfy your needs. Try to contact your salesman and provide us your ideas, we could make your dreams come true.
          .achieve
            a(href="javascript:;")
              .icon
                img(src="../../../uploads/home/decor/inspire_flower.png", alt="")
              .text ACHIEVE NOW