
<div class="modal-scroll-wrap scrollbar-macosx">
  <div class="modal-contain">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="remind-wrap">
          <div class="icon-delete2"></div>
          <p class="remind-title">Notice</p>
          <p class="remind-text">Are you sure to delete this item?<br>It will disappear from the list.</p>
          <div class="modal-btn-group"><a class="modal-btn btn-gold ajax_close" href="javascript:;">No</a><a class="modal-btn btn-black ajax_close" href="javascript:;">Yes</a></div>
        </div>
      </div>
    </div>
  </div>
</div>