.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .close-btn.ajax_close
          span
        .modal-header
          .title SELECT OPTION
          .description Replace old one or create new one
        .modal-body
          .select-submit-ways
            .item
              .icon
                img(src="../../../assets/font/icomoon/svg/replace.svg", alt="")
              .text Replace
              .item-description Remove old items and replace it
              a.btn.btn-gold(href="./product_detail.html") Replace
            .or
              span or
            .item
              .icon
                img(src="../../../assets/font/icomoon/svg/create.svg", alt="")
              .text Create
              .item-description Retain old items and create a new one
              a.btn.btn-black(href="./product_detail.html") Create