.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .remind-wrap
          .icon-checkout-remark
          p.remind-title Notice
          p.remind-text Customized editing will create a demand form that will be contacted by a specialist and cannot be checked out online.
          .modal-btn-group
            a.modal-btn.btn-black.ajax_close(href="javascript:;") No
            a.modal-btn.btn-gold.ajax_close(href="./customized.html") Yes