.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .remind-wrap
          .icon-delete2
          p.remind-title Notice
          p.remind-text Are you sure to delete this item?<br>It will disappear from the list.
          .modal-btn-group
            a.modal-btn.btn-gold.ajax_close(href="javascript:;") No
            a.modal-btn.btn-black.ajax_close(href="javascript:;") Yes