.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .remind-wrap
          .icon-delete2
          p.remind-title Delete Items?
          p.remind-text Sure to delete product?
            br
            | You can re-add it on the product page.
          .modal-btn-group
            a.modal-btn.btn-gold.ajax_close(href="javascript:;") No
            a.modal-btn.btn-black.confirm-leave(href="javascript:;") Yes