.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .remind-wrap
          .icon-check-list
          p.remind-title Select Items
          p.remind-text You have not selected the product to be
            br
            |checked out.
          .modal-btn-group
            a.modal-btn.btn-gold.confirm.ajax_close(href="javascript:;") Ok