.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .method-wrap
          p.method-title JOIN OUR MEMBERSHIP
          p.method-text Join us right now !
          .icon-member_vip
          .method-message
            p.b Why register as the VIP member?
            p After registered, you can enjoy the service provided by MINGLEURN for members :
            ul
              li Entering the product area to view the latest product designs every season.
              li Geting exclusive Genie to make your fashion dream comes true.
              li Purchasing products at preferential prices.
              li Enjoying irregular discounts.
            p Don`t lose your chance to be one of our best friends.

          .modal-btn-group
            a.modal-btn.btn-gold.ajax_close(href="javascript:;") Got it