.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .remind-wrap
          .icon-backup
          p.remind-title Backup Account ?
          p.remind-text Sure to backup account?<br>Please fill in the correct information.
          .modal-btn-group
            a.modal-btn.btn-black.ajax_close(href="javascript:;") No
            a.modal-btn.btn-gold.confirm.ajax_close(href="javascript:;") Yes