.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .modal-header
          .title CANCEL ORDER
          .description Are you sure to cancel order?
        .modal-body
          .icon-box
            i.icon-cancel-order
            .text What’s wrong ?
          textarea.scrollbar-inner(placeholder="Welcome to leave your reason for canceling the order, help us improve the problem.")
          p.extra-info Please note that your order content will no longer be valid, you can still view it in the order list, and we will contact you as soon as possible regarding the refund.
        .modal-footer
          .modal-btn-group
            a.modal-btn.btn-gold.ajax_close(href="javascript:;") Back
            a.modal-btn.btn-black.ajax_close(href="javascript:;") Cancel Order