.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .remind-wrap
          .icon-member-logout
          p.remind-title Sure to log out?
          p.remind-text Are you sure to log out?Please log in again to use the full functionality.
          .modal-btn-group
            a.modal-btn.btn-gold.ajax_close(href="javascript:;") No
            a.modal-btn.btn-black.ajax_close(href="./login.html") Yes