.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .method-wrap
          p.method-title LOGIN TO DISCOVER MORE
          p.method-text Select the way to login
          .icon-member_vip
          .method-login
            p.title Have an account ?&nbsp;
              a(href="./login.html") Login
            p.text Upgrade to membership , enjoy more benifits and browse more content.
          .modal-btn-group
            a.modal-btn.btn-gold(href="./login.html") Register
          .method-social
            p or
            .social-btn.ajax_close(onclick="$.ajax4({Route: './ajax_member_remind_register.html',Container: '.remind-register-lbox',Block: '',Callback: '_ajaxCallback.normalLightbox',Backready: '',Backloaded: '',});")
              img(src="../../../assets/img/google-logo.png", alt="")
              p Continue with Google
            .social-btn.ajax_close(onclick="$.ajax4({Route: './ajax_member_remind_register.html',Container: '.remind-register-lbox',Block: '',Callback: '_ajaxCallback.normalLightbox',Backready: '',Backloaded: '',});")
              img(src="../../../assets/img/fb-logo.png", alt="")
              p Continue with Facebook