.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .modal-header
          .title INSTRUCTIONS
          .sub-title The following are shopping and custom instructions
        .modal-body
          .tips1
            .icon-wrap
              .icon-box
                .icon-edit
                .text Customzied
              .icon-box
                .icon-overspend
                .text Exceed
              .icon-box
                .icon-cart
                .text Small Unit
            //span裡面的金額可從後台設定
            p.description Your order contains customized items and small unit products, or the total amount of the order is over <span>USD 1,000</span> , we will set up a demand list, and the specialist will contact you to serve you.

        .modal-footer
          .modal-btn-group
            a.modal-btn.btn-gold.ajax_close(href="javascript:;") Ok