.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .remind-wrap
          .icon-delete2
          p.remind-title Delete Account ?
          p.remind-text  Sure to delete account?<br>Please fill in the correct information.
          .modal-btn-group
            a.modal-btn.btn-gold.ajax_close(href="javascript:;") No
            a.modal-btn.btn-black.confirm.ajax_close(href="javascript:;") Yes