.modal-scroll-wrap.scrollbar-macosx
  .modal-contain
    .modal-dialog
      .modal-content
        .remind-wrap
          .icon-send
          p.remind-title Success
          p.remind-text The form has been submitted successfully and we will contact you as soon as possible.
          .modal-btn-group
            a.modal-btn.btn-gold.confirm.ajax_close(href="javascript:;") Ok